* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

body {
    font-family: "Microsoft YaHei";
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #232323;
}

input,
textarea {
    outline: none;
    box-shadow: none;
}

textarea {
    resize: none;
    overflow: auto;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}